@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
}

.div2 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
}

.div3 {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}

.div4 {
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 2;
}

.div5 {
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
}

.parent:hover path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 2s ease;
}
